<div class="container pt-3">
  <p class="text-center">Set of tags that you has enabled. Only those messages that are marked with tags enabled for
    you as visible and also messages without tags. <br>By click on tag or on &times; you can remove tags from list.</p>
  <div class="tags">
    <div class="tag" *ngFor="let tag of messageTagList">
      <li *ngIf="tag" class="text-break" (click)="removeTag(tag)">
        {{ tag }}
        <button type="button" class="btn-close" aria-label="Close" (click)="removeTag(tag)"></button>
      </li>
    </div>
  </div>

  <div class="form-group">
    <div class="autocomplete-list">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let tag of filteredTags" (click)="addTag(tag)">{{ tag }}</li>
      </ul>
    </div>
  </div>

  <div class="bottom-div">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">#</span>
      <input type="text" class="form-control" placeholder="Tags" aria-label="Tag" aria-describedby="basic-addon1"
        [(ngModel)]="newTag" (input)="searchTags()">
      <button type="button" class="btn btn-success" (click)="addTag(newTag)">Add Tag</button>
    </div>
  </div>

</div>
